@mixin main-title {
  margin-bottom: 1em;
  font-size: 51px;
  color: white;
  font-weight: bold;
  font-family: 'Montserrat', 'sans-serif';
  line-height: 51px;
  text-transform: uppercase;
}

@mixin secondary-title {
  font-family: 'Montserrat', 'sans-serif';
  font-style: bold;
  font-size: 28px;
  line-height: 34px;
  align: left;
  color: $light-blue;
}

@mixin secondary-title-even {
  font-family: 'Montserrat', 'sans-serif';
  font-style: bold;
  font-size: 28px;
  line-height: 34px;
  text-align: right;
  color: white;
}

@mixin description {
  font-family: 'Open Sans', 'sans-serif';
  font-style: Regular;
  font-size: 21px;
  line-height: 29px;
  align: left;
  paragraph-spacing: 32px;
  color: $grey;
}

@mixin description-even {
  font-family: 'Open Sans', 'sans-serif';
  font-style: Regular;
  font-size: 21px;
  line-height: 29px;
  text-align: right;
  paragraph-spacing: 32px;
  color: white;
}

@mixin button{
  background-color: $orange;
  outline: none;
  color: white;
  font-family: 'Montserrat', 'sans-serif';
  font-style: 800;
  display: block;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  padding: 0.4em;
}

@mixin light-title{
  text-transform: uppercase;
  text-align: center;
  font-size: 41px;
  color: white;
}

@mixin plan-card{
  background-color: white;
  border-radius: 5px;
}

@mixin card-title{
font-family: 'Montserrat';
font-weight: 800;
font-size: 24px;
line-height: 29px;
text-align: center;
color: $deep-grey;
}

@mixin employees {
font-family: 'Montserrat';
font-size: 14px;
line-height: 20px;
text-align: center;
color: $deep-grey;
}

@mixin price {
font-family: 'Montserrat';
font-weight: bolder;
font-size: 32px;
line-height: 39px;
text-align: center;
color: $turquesa;
}
