$light-blue: #009FE3;
$dark-blue: #0065A1;
$orange: #FFAA00;
$grey: #909191;
$deep-grey: #585757;
$turquesa: #00D8B9;
$teal: #00D8B9;
$violeta: #9B51E0;




/*turquesa 0 216 185
violeta 155 81 224
naranjo 255 170 0
cyan 0 159 227 PARA all

direccion con variable*/
