@import '_vars';
@import 'mixin';

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

  header, .calculo, .trazabilidad, .gestion, .integracion{
    height: 100vh;
  }
  ul li {
    list-style: none;
    float: right;
    padding-left: 2em;
  }

  header, .trazabilidad, .precios{
    background: linear-gradient(rgba(0,159,227,1), rgba(0,101,161,1));
  }

  .navbar{
    background-color: white;
  }

  button{
    background-color: #FF9600;
    border: none;
    border-radius: 5px;
  }
}

.main-title {
  @include main-title;
}

.second-title{
  @include secondary-title
}

.second-title-even{
  @include secondary-title-even
}

.description {
  @include description
}

.description-even {
  @include description-even
}

.presentation{
  vertical-align: middle;
}

.light-title{
  font-weight: 100;
}

.fas{
  display: block;
}

button {
  @include button
}

.presentation{
  margin-top: 17em;
}

.light-title{
  @include light-title
}

.plan-card {
  @include plan-card
}
