@import '_vars';
@import 'mixin';

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

  header, .calculo, .trazabilidad, .gestion, .integracion, .formulario{
    height: 100vh;
  }

  ul li {
    list-style: none;
    float: right;
    padding-left: 2em;
    @include nav-elements
  }

  header, .trazabilidad, .precios{
    background: linear-gradient(to bottom right, rgba(0,216,185,0.5), rgba(0,101,161,0.8));
  }

  .navbar{
    background-color: white;
  }
}

.accent-button{
  @include accent-button
}

.access {
  @include access-button
}

.section-button {
  @include section-button
}

.main-title {
  @include main-title;
}

.second-title{
  @include secondary-title
}

.second-title-even{
  @include secondary-title-even
}

.description {
  @include description
}

.description-even {
  @include description-even
}

.presentation{
  margin-top: 17em;
}

.light-title{
  @include light-title
}

.plan-card {
  @include plan-card;
  outline: 1px solid pink;
}

.card-title {
  @include card-title
}

.empleados {
  @include employees
}

.precio {
  @include price
}

.chevron {
  @include chevron
}

//formulario

form{
  background: linear-gradient(to bottom right, rgba(0,216,185,0.5), rgba(0,101,161,0.8));
  border-radius: 6px;
}

select, input, textarea{
  width: 100%;
  resize: none;
  border-radius: 6px;
  border: none
}

.form-input {
  @include form-label
}

input, select{
  height: 2.5em;
  color: $grey;
}

.contact{
  @include contact
}

.form-span{
  color: $teal;
}

.chao{
  margin-top: 7em;
}

.formu{
  margin-top: 4em;
}

.send-button{
  @include send;
}
